*{margin: 0;padding: 0;box-sizing: border-box;}
ol,ul,dl{list-style: none;}
a{text-decoration: none; color:inherit;}
body{margin: 20px;}
.clx::after{
    content: "";
    display: block;
    clear: both;
}
/* yeezy-font family */
@font-face {font-family: "adineue PRO"; src: url("//db.onlinewebfonts.com/t/b82329475307e0380dc1ea23f0c35266.eot"); src: url("//db.onlinewebfonts.com/t/b82329475307e0380dc1ea23f0c35266.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/b82329475307e0380dc1ea23f0c35266.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/b82329475307e0380dc1ea23f0c35266.woff") format("woff"), url("//db.onlinewebfonts.com/t/b82329475307e0380dc1ea23f0c35266.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/b82329475307e0380dc1ea23f0c35266.svg#adineue PRO") format("svg"); }





#header{
    display: flex;
    align-items: center; justify-content: space-between;
}
#header h1{
  width: 100px; height: 50px;
  background-image: url(../img/nike.png);  background-repeat: no-repeat;  background-size: contain;
  text-indent:-9999px ;
  /* font-family: "adineue Pro"; */

}
#header .gnb{
    width: 500px;
    display: flex;  justify-content: space-between;
    cursor: pointer;
}
#header .gnb > li {
}
#header .gnb > li  a{}

#header .search input[type=text] {
    width: 80%;
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    background: #f1f1f1;
  }
  
  .search button {
    float: left;
    width: 20%;
    padding: 10px;
    color: white;
    font-size: 17px;
    cursor: pointer;
  }
  
  .search button:hover {
    background: #0b7dda;
  }
  

  .search::after {
    content: "";
    clear: both;
    display: table;
  }
















