*{margin: 0;padding: 0;box-sizing: border-box;}
ol,ul,dl{list-style: none;}
a{text-decoration: none; color: inherit;}
body{font-family: 'Open Sans'; width: 100vw;}
/* ^ font */
@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&family=Noto+Sans+KR:wght@400;700&family=Open+Sans:wght@500;600;700&display=swap');

/* 
font-family: 'Hammersmith One', sans-serif;
font-family: 'Noto Sans KR', sans-serif;
font-family: 'Open Sans', sans-serif;
*/
.font_k{
    font-family: 'Noto Sans KR', sans-serif;
}
.font_point{
    font-family: 'Hammersmith One', sans-serif;
}

#first{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
video{
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

#header {
    position: absolute;
    width: 100vw;
    z-index: 99;
    font-size: 25px;
    font-weight: 500;
    color: white;
}
#header:hover .header_wrap{
    background: white;
    color: black;
}
#header:hover .header_wrap .hamburger span{
    background: black;
}
#header .header_wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
    transition: all 0.75s;
}
#header .header_wrap nav{
    width: 700px;
}
#header .header_wrap nav .gnb{
    display: flex;
    justify-content: space-between;
}
#header .header_wrap nav .gnb>li .fa-angle-down{
    padding-left: 9px;
}
#header .header_wrap nav .gnb>li:nth-child(2){
    position: relative;
}
#header .header_wrap nav .gnb .sub{
    position: absolute;
    top: 60px;
    left: 0;
    transform: translateX(-30%);
    width: 150px;
    font-size: 20px;
    text-align: center;
}
#header .header_wrap .hamburger{
    position: relative;
    display: inline-block;
    width: 50px;
    height: 20px;
}
#header .header_wrap .hamburger span{
    position: absolute;
    left: 0;
    display: inline-block;
    width: 100%;
    height: 2px;
    background: white;
    border-radius: 3px;
    transition: all 0.75s;
}
#header .header_wrap .hamburger span:first-child{
    top: 0;
}
#header .header_wrap .hamburger span:last-child{
    top: 100%;
    width: 80%;
}
/* ! header END */

#first .logo_wrap{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
#first .ellipse{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
#first .greendot{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
#first .greendot img{
    animation: spin 4s infinite ease-in-out;
}

@keyframes spin{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform:rotate(-360deg);
    }

}


#footer {
    position: fixed;
    bottom: 20px;
    z-index: 99;
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: rgba(255, 255, 255, 0.6);
    font-size: 12px;
}
#footer  .copy{
    margin-left: 30px;
    
}
#footer .link{
    margin-right: 30px;
    font-weight: 700;
}
#footer .link ul{
    text-transform: uppercase;
}
#footer  .link ul{
    display: flex;
    justify-content: space-around;
    width: 200px;
}
#footer .link ul>li a .fa-bag-shopping ,
#footer .link ul>li a .fa-instagram{
    margin-right: 7px;
}
#footer .link ul>li{
    transition: all 0.75s;
}
#footer .link ul>li:first-child:hover,
#footer .link ul>li:last-child:hover{
    color: white;
}
/* ! footer END */



