*{margin: 0;padding: 0; border:0; box-sizing: border-box;}
ol,ul,dl{list-style: none;}
a{text-decoration: none; color: inherit;}
body{font-family: 'Open Sans'; width: 100vw;}
/* ^ font */
@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&family=Noto+Sans+KR:wght@400;700&family=Open+Sans:wght@500;600;700&display=swap');

/* 
font-family: 'Hammersmith One', sans-serif;
font-family: 'Noto Sans KR', sans-serif;
font-family: 'Open Sans', sans-serif;
*/
.font_k{
    font-family: 'Noto Sans KR', sans-serif;
}
.font_point{
    font-family: 'Hammersmith One', sans-serif;
}
.black{
    color: black;
}

#first{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
video{
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

#header {
    position: absolute;
    width: 100%;
    min-width:1000px;
    z-index: 99;
    font-size: 25px;
    font-weight: 500;
    color: white;
}
#header:hover .header_wrap{
    background: white;
    color: black;
}
#header:hover .header_wrap .hamburger span{
    background: black;
}
#header .header_wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
    transition: all 0.5s;
}

#header.slide .header_wrap h1.m a{
    display:block;
    width: 100px;
    height: 70px;
    background:url("../img/selex_black.png") no-repeat center;
}

#header.slide .header_wrap h1.m img{
    display:none;
    opacity: 0;
}


#header .header_wrap nav{
    width: 700px;
}
#header .header_wrap nav .gnb{
    display: flex;
    justify-content: space-between;
}
#header .header_wrap nav .gnb>li:nth-child(2):hover .fa-angle-down{
    transform:rotate(180deg);
}
#header .header_wrap nav .gnb>li .fa-angle-down{
    padding: 0px 5px;
    transition: transform 0.3s;
}
#header .header_wrap nav .gnb>li:nth-child(2) a{
    cursor: default;
}
#header .header_wrap nav .gnb>li:nth-child(2){
    position: relative;
}
#header .header_wrap nav .gnb>li .sub{
    position: absolute;
    top: 34px;
    left: 50%;
    transform: translateX(-55%);
    width: 150px;
    height: 0;
    overflow: hidden;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    transition: all 0.3s;
    /*0.5 ~ 0.35*/
    background: white;
}

#header .header_wrap nav .gnb>li:nth-child(1):hover a,
#header .header_wrap nav .gnb>li:nth-child(2):hover >a,
#header .header_wrap nav .gnb>li:nth-child(3):hover a,
#header .header_wrap nav .gnb>li:nth-child(4):hover a
{
    color: green;
}

#header .header_wrap nav .gnb>li:nth-child(2):hover .sub{
    height: 160px;
}

#header .header_wrap nav .gnb .sub>li{
    margin: 12px 0px;
}
#header .header_wrap nav .gnb .sub>li a{
    cursor: pointer;
    transition: all 0.3s;
}
#header .header_wrap nav .gnb .sub>li a:hover{
    color: green;
}
#header .header_wrap .hamburger{
    position: relative;
    display: inline-block;
    width: 50px;
    height: 20px;
    cursor:pointer;
    z-index: 10;
}
#header .header_wrap .hamburger span{
    position: absolute;
    left: 0;
    display: inline-block;
    width: 50px;
    height: 2px;
    background: white;
    border-radius: 3px;
    transition: all 0.3s;
}
#header .header_wrap .hamburger span:first-child{
    top: 0;
}
#header .header_wrap .hamburger span:last-child{
    top: 100%;
    width: 45px;
}
#header .header_wrap .hamburger:hover span{
    background: green;
}
#header .header_wrap .hamburger span:first-child.on{
    transform: rotate(45deg) translate(25%);
}
#header .header_wrap .hamburger span:last-child.on{
    transform: rotate(-45deg)translate(25%);
    width: 50px;
}


.mega_menu .logo img{
    margin: 20px 20px;
}
.mega_menu{
    width:100%;
    height:100vh;
    background:#fff;
    position:fixed;
    /* left:0;   */
    left:100vw;
    top:0;
    transition:left 0.5s;
    z-index: 8;
    color: black;
}

.mega_menu .gray_line {
    position: absolute;
    top: 119px;
    width: 100%;
    height: 2px;
    background: #dfdfdf;
}
.mega_menu .selex_protein {
    margin: 40px;
}
.mega_menu .selex_protein img{
    animation: spin 9s infinite linear;
}

 #vertical_underline{
    position: absolute;
    height: 4px;
    width: 0px;
    border-radius: 3px;
    transition: 0.5s;
    background: green;
    z-index: 10;
}
 #vertical_underline_1{
    position: absolute;
    height: 4px;
    width: 0px;
    border-radius: 3px;
    transition: 0.5s;
    background: green;
    z-index: 10;
}
.mega_menu .mega_gnb ul {
    position: absolute;
    top: 25%;
    left: 10%;
    height: 500px;
    font-size: 40px;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.mega_menu .mega_gnb ul>li a:hover{
    color:rgba(0, 0, 0, 1); 
}
.mega_menu .mega_gnb ul>li:nth-of-type(3) a{
    cursor: default;
}
.mega_menu .mega_gnb ul>li a{
    transition: all 0.5s;
}
.mega_menu .gray_line_v{
    position: absolute;
    top: 119px;
    left: 27%;
    background: #dfdfdf;
    width: 2px;
    height: 100%;
}
.mega_menu .mega_sub{
    position: absolute;
    top: 30%;
    left: 32%;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.5s;
}
.mega_menu .mega_sub.on{
    opacity: 1;
}
.mega_menu .mega_sub ul>li a{
    transition: all 0.5s;
}
.mega_menu .mega_sub ul>li a:hover{
    color:rgba(0, 0, 0, 1);
}
.mega_menu .mega_sub ul{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 300px;
}
.mega_menu main{
    position: absolute; 
    width: 46%;
    min-width: 600px;
    overflow: hidden;
    top: 119px;
    right: 0;
}
.mega_menu main .img_box{
    position: relative;
    width: 900px;
    height:700px;
}
.mega_menu main .img_box img{
    position: absolute;
    left:100px;
    top:0;
    opacity: 0;
    transition: all 0.5s;
}
.mega_menu main .img_box img.on{
    opacity: 1;
    left:0;
}
.mega_menu #mega_footer {
    position: fixed;
    bottom: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: rgba(0, 0, 0, 0.5);
    font-size: 12px;
}
.mega_menu #mega_footer .copy {
    margin-left: 30px;
    transition: all 0.5s;
    color: rgba(0, 0, 0, 1);
}
.mega_menu #mega_footer .link{
    margin-right: 30px;
    font-weight: 700;
    text-transform: uppercase;
}
.mega_menu #mega_footer .link ul{
    display: flex;
    justify-content: space-around;
    width: 200px;
}
.mega_menu #mega_footer .link ul>li a .fa-bag-shopping ,
.mega_menu #mega_footer .link ul>li a .fa-instagram{
    margin-right: 7px;
}
.mega_menu #mega_footer .link ul>li a{
    transition: all 0.5s;
}
.mega_menu #mega_footer .link ul>li a.on{
    display: none;
}
.mega_menu #mega_footer .link ul>li:hover a{
    color: rgba(0, 0, 0, 1);
}

.mega_menu.active{
    left:0;
}

/* ! header END */

#first .logo_wrap{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
#first .ellipse{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
#first .ellipse img{
    animation: spin 9s infinite linear;
}
@keyframes spin{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform:rotate(-360deg);
    }

}
/* ! logo END */


#footer {
    position: fixed;
    bottom: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: #AEAFA1;
    font-size: 12px;
}
#footer  .copy{
    margin-left: 30px;
    transition: all 0.5s;
}
#footer .copy.on{
    display: none;
}
#footer .link{
    margin-right: 30px;
    font-weight: 700;
}
#footer  .link ul{
    display: flex;
    justify-content: space-around;
    width: 200px;
    text-transform: uppercase;
}
#footer .link ul>li a .fa-bag-shopping ,
#footer .link ul>li a .fa-instagram{
    margin-right: 7px;
}
#footer .link ul>li{
    transition: all 0.5s;
}
#footer .link ul>li:first-child:hover ,
#footer .link ul>li:last-child:hover {
    color: white;
}
/* ! footer END */

/* 반응형 */
@media screen and (max-width:1080px){
    #header{
        min-width: 500px;
    }
    #header.slide{
        box-shadow : rgba(0,0,0,0.5) 0 0 0 9999px;
        transition: all 0.5s;
        background: white;
        color: black;
        opacity: .99;
        z-index: 101;
    }
    #header .header_wrap nav .gnb{
        display: none;
    }
    .mega_menu .logo img{
        opacity: 0;
    }
    .mega_menu main .img_box{
        display: none;
    }
    .mega_menu.active{
        left: 50vw;
    }
    .mega_menu #mega_footer .copy {
        display: none;
    }
    .mega_menu #mega_footer .link ul{
        width: 250px;
    }
}
@media screen and (max-width:899px){
    .mega_menu .mega_gnb ul{
        top: 33%;
        font-size: 25px;
        height: 300px;
        align-items: flex-start;
    }
    .mega_menu .mega_sub {
        top: 33%;
        font-size: 17px;
        font-weight: 600;
    }
}
@media screen and (max-width:859px){
    .mega_menu #mega_footer{
        display: block;
    }
    .mega_menu #mega_footer .link ul{
        margin-left: 25px;
        width: 130px;
        align-items: center;
    }
    .mega_menu #mega_footer .link ul>li a:first-child{
        display: none;
    }
    .mega_menu #mega_footer .link ul>li a.on{
        display: inline-block;
        font-size: 35px;
    }
}
@media screen and (max-width:600px){
    #footer .copy{
        display: none;
    }
    #footer .copy.on{
        display: inline;
    }
}
