
#sub_1{
    position: relative;
    transform: translateY(120px);
    width: 100%;
}
#sub_1  .content_1{
    background: #dfdfdf;
    height: 750px;
    margin-bottom: 70px;
}
#sub_1 .content_1 .content_wrap{
    position: relative;
    width: 970px;
    height: 690px;
    margin: 0 auto;
    background:url(../img/exercise.png) no-repeat;
    transform: translateY(25px);
}
#sub_1 .content_1 .content_wrap .text_wrap{
    width: 380px;
    position: absolute;
    top: 30%;
    right: 10%;
    font-size: 40px;
    color: white;
}
#sub_1 .content_1 .content_wrap .text_wrap p{
    font-size: 20px;
    color: rgba(255, 255,255, 0.7);
}
#sub_1 .content_1 .content_wrap .text_wrap p:nth-of-type(2){
    font-size: 17px;
}
.content_1 .content_wrap .text_wrap p span{
    display: inline-block;
    margin-left: 10px;
    margin-bottom: 6px;
    width: 150px;
    height: 2px;
    background: rgba(255, 255, 255, 0.7);
}
#sub_1 .content_1 .content_wrap .text_wrap p.font_k{
    font-weight: 500;
}
#sub_1 .content_1 .content_wrap .text_wrap p,
#sub_1 .content_1 .content_wrap .text_wrap h2{
    margin-bottom: 10px;
}
/* ! content_1 END */

#sub_1 .content_2{
    width: 970px;
    margin: 0 auto;
}
#sub_1 .content_2 .content_wrap{
    width: 100%;
    margin-bottom: 150px;
}
#sub_1 .content_2 .content_wrap .img_wrap img{
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.3);
}
#sub_1 .content_2 .content_wrap .img_wrap {
    opacity: 0;
    transform: translateX(-100px);
    transition:all 0.5s;
}
#sub_1 .content_2 .content_wrap.on .img_wrap {
    opacity: 1;
    transform: translateX(0);
}




#sub_1 .content_2 .content_wrap .text_wrap{
    margin-top: 20px;
    width: 430px;
    margin-left: 30px;
    word-break: keep-all;
}
#sub_1 .content_2 .content_wrap .text_wrap h3{
    font-size: 50px;
    margin-bottom: 10px;
}
span.module_span{
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;   
    color: #5f5f5f;
    margin: 5px;
}
#sub_1 .content_2 .content_wrap .text_wrap p{
    font-size: 20px;
    
}

/* ! content_2 END */

#sub_1 .content_3{
    width: 970px;
    margin: 0 auto;
}
#sub_1 .content_3 .content_wrap{
    width: 100%;
    margin-bottom: 150px;
}
#sub_1 .content_3 .content_wrap .text_wrap{
    width: 430px;
    margin-top: 20px;
    word-break: keep-all;
}
#sub_1 .content_3 .content_wrap .text_wrap h3{
    font-size: 40px;
    margin-bottom: 10px;
}
#sub_1 .content_3 .content_wrap .text_wrap p{
    font-size: 20px;
}
#sub_1 .content_3 .content_wrap .img_wrap img{
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.3);
}
/* !content_3 END */

#sub_1 .content_4{
    width: 970px;
    margin: 0 auto; 
}
#sub_1 .content_4 .content_wrap{
    width: 100%;
    margin-bottom: 250px;
}
.content_4 .content_wrap .img_wrap img{
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.3);
}
#sub_1 .content_4 .content_wrap .text_wrap{
    width: 430px;
    margin-top: 10px;
    word-break: keep-all;
}
#sub_1 .content_4 .content_wrap .text_wrap h3{
    font-size: 50px;
    margin-bottom: 10px;
}
#sub_1 .content_4 .content_wrap .text_wrap p{
    font-size: 20px;
    font-weight: 500;
}

/* ! -------------------------  #sub_1  END */

#sub_2{
    position: relative;
    transform: translateY(120px);
    width: 100%;
}

#sub_2 .con_1{
    width: 100%;
    height: 750px;
    background: #dfdfdf;
    margin-bottom: 100px;
}
#sub_2  .con_1 .con_wrap{
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    background: url(../img/friendship2.png) no-repeat center center;
}
#sub_2  .con_1 .con_wrap .text_wrap{
    position: absolute;
    width: 1400px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    color: white;
}
#sub_2  .con_1 .con_wrap .text_wrap h2{
    font-size: 90px;
    font-weight: 600;
    margin-bottom: 80px;
}
#sub_2  .con_1 .con_wrap .text_wrap h4{
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 30px;
}
#sub_2  .con_1 .con_wrap .text_wrap p{
    font-size: 30px;
    opacity: .8;
}
/* !con_1 END */
#sub_2 .sub_title{
    width: 400px;
    margin: 0 auto 170px;
    font-size: 40px;
    font-weight: bold;
}

#sub_2 .con_common{
    width: 1000px;
    margin: 0 auto 200px;
}
#sub_2 .con_common .con_wrap .img_wrap{
    position: relative;
}
#sub_2 .con_common .con_wrap .img_wrap img{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5)
}
#sub_2 .con_common .con_wrap .img_wrap p{
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-65%,-50%);
    color: #dfdfdf;
    font-size: 400px;
    font-weight: 600;
    z-index: -1;
}
#sub_2 .con_common .con_wrap .text_wrap{
    width: 500px;
    margin-top: 40px;
    text-align: left;
}
#sub_2 .con_common .con_wrap .text_wrap h3{
    font-size: 40px;
    color: #535353;
    margin-bottom: 25px;
}
#sub_2 .con_common .con_wrap .text_wrap p{
    font-size: 25px;
}
/* ! con_common END */
/* ! #sub_2 END */



#sub_3{
    position: relative;
    transform: translateY(120px);
    width: 100%;
}

#sub_3 .con_1{
    width: 100%;
    height: 750px;
    background: #dfdfdf;
    margin-bottom: 100px;
}
#sub_3  .con_1 .con_wrap{
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    background: url(../img/friendship3.png) no-repeat center center;
}
#sub_3  .con_1 .con_wrap .text_wrap{
    position: absolute;
    width: 1400px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    color: white;
}
#sub_3  .con_1 .con_wrap .text_wrap h2{
    font-size: 90px;
    font-weight: 600;
    margin-bottom: 80px;
}
#sub_3  .con_1 .con_wrap .text_wrap h4{
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 30px;
}
#sub_3  .con_1 .con_wrap .text_wrap p{
    font-size: 30px;
    opacity: .8;
}



