@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;800;900&family=Noto+Sans+KR:wght@400;500;700;900&display=swap');
*{margin: 0; padding: 0; border:0; box-sizing: border-box;}
html{scroll-behavior: smooth;}
ol,ul,dl{list-style: none;}
a{text-decoration: none; color: inherit;}
/* font */
/* font-family: 'Montserrat', sans-serif; */
/* font-family: 'Noto Sans KR', sans-serif; */

/* 폰트 모듈 */
.font_e{font-family: 'Montserrat', sans-serif;}
.font_k{font-family: 'Noto Sans KR', sans-serif;}
span{font-family: "Noto Sans KR",sans-serif;}
body{font-family: 'Montserrat', sans-serif;}

.white{color:white;}
.underline{text-decoration: underline;}

.scroll_box{
    position: fixed;
    top: 30px;
    left: 30px;
    font-size: 30px;
    font-weight: 700;
    z-index: 1001;
}
#header{
    position: fixed;
    width: 100%;
    top: 30px;
    z-index: 100;
    color: white;
    text-transform: uppercase;
    font-size: 25px;
    font-weight: 600;
    margin: 0 20px;
    transition: all 0.5s;
}
#header nav .gnb{
    display: flex;
    justify-content: space-around;
    align-items: center ;
}
#header nav .gnb>li:nth-child(2)::after,
#header nav .gnb>li:nth-child(3)::after,
#header nav .gnb>li:nth-child(4)::after {
    display:block;
    content: '';
    border-bottom: solid 3px white;
    transform: scaleX(0);  
    transition: transform 250ms ease-in-out;
  }
#header nav .gnb>li.on:nth-child(2)::after,
#header nav .gnb>li.on:nth-child(3)::after,
#header nav .gnb>li.on:nth-child(4)::after {
    border-color: black;
}
  #header nav .gnb>li:nth-child(2):hover:after,
  #header nav .gnb>li:nth-child(3):hover:after,
  #header nav .gnb>li:nth-child(4):hover:after
   { transform: scaleX(1); }
   #header nav .gnb>li .hamburger{
    display: none;
    width: 50px;
    height: 50px;
    cursor: pointer;
   }
   #header nav .gnb>li .hamburger span{
    display: block;
    width: 100%;
    height: 3px;
    background: white;
    margin-bottom: 15px;
    transition: all 0.5s;
    }
    #header nav .gnb>li .hamburger.on span:nth-child(1){
        transform: rotate(45deg) translate(14px, 11px);
    }
    #header nav .gnb>li .hamburger.on span:nth-child(2){
        display: none;
    }
    #header nav .gnb>li .hamburger.on span:nth-child(3){
        transform: rotate(-45deg);
    }
    .mega_menu{
        width: 100%;
        height: 100vh;
        background: #2c2c2c;
        position: fixed;
        /* left: 50vw; */
        left: 100vw;
        top: 0;
        z-index: -1;
        transition: left 0.5s;
    }
    .mega_menu .mega_gnb{
        margin-top: 150px;
        transform: translateX(-25%);
        text-align: center;
    }
    .mega_menu .mega_gnb ul>li {
        margin-bottom: 40px;
    }


/* header END */
#main .con_1{
    position: relative;
}
/* 로고 윗부분 위치잡기 */
#main .con_1 .logo_wrap,
#main .con_1 .logo_wrap3,
#main .con_1 .logo_wrap5,
#main .con_1 .logo_wrap7,
#main .con_1 .logo_wrap9{
    position: absolute;
    top:-55vh;
    left: 35%;
}
#main .con_1 .logo_wrap2,
#main .con_1 .logo_wrap4,
#main .con_1 .logo_wrap6,
#main .con_1 .logo_wrap8,
#main .con_1 .logo_wrap10{
    position: absolute;
    top:-50vh;
    left: 35%;
}
#main .con_1 .logo_wrap,
#main .con_1 .logo_wrap2{
    animation: opacity 4s forwards;
}
#main .con_1 .logo_wrap3{
    animation: blur 4s linear forwards;
}
#main .con_1 .logo_wrap4{
    animation: blur 4s linear forwards;
}
#main .con_1 .logo_wrap5{
    animation: blur 4s linear forwards;
}
#main .con_1 .logo_wrap6{
    animation: blur 4s linear forwards;
}
#main .con_1 .logo_wrap7{
    animation: zig 2s ease-in infinite;
}
#main .con_1 .logo_wrap8{
    animation: zig1 2s ease-in infinite;
}
#main .con_1 .logo_wrap9{
    animation: zig1 2s ease-in infinite;
}
#main .con_1 .logo_wrap10{
    animation: zig 2s ease-in infinite;
}
@keyframes opacity {
    from{
        opacity: 0.3;
    }
    to{
        opacity: 1;
    }
}
@keyframes blur{
    0%{
        filter: blur(10px);
        opacity: 0;
    }
    100%{
        filter: blur(10px);
        opacity: 1;
    }
}
@keyframes zig{
    0%{transform: translate(-10px,-20px);opacity: 0;}
    1%{transform: translate(-10px,-20px);opacity: 0.3;}
    2%{transform: translate(-10px,-20px);opacity: 0;}
    10%{transform: translateX(10px);opacity: 0;}
    12%{transform: translate(10px,10px);opacity: 0;}
    13%{transform: translate(10px,10px);opacity: 0.3;}
    14%{transform: translate(10px,10px);opacity: 0;}
    20%{transform: translate(-10px,10px);opacity: 0;}
    21%{transform: translate(-10px,10px);opacity: 0.3;}
    22%{transform: translate(-10px,10px);opacity: 0;}
    35%{transform: translateX(-10px);opacity: 0;}
    40%{transform: translateX(-10px);opacity: 0.3;}
    41%{transform: translateX(-10px);opacity: 0;}
    42%{transform: translate(10px,10px);opacity: 0;}
    43%{transform: translate(10px,10px);opacity: 0.3;}
    49%{transform: translate(10px,10px);opacity: 0;}
    50%{transform: translateX(10px);opacity: 0;}
    55%{transform: translateX(10px);opacity: 0.3;}
    60%{transform: translateX(10px);opacity: 0;}
    61%{transform: translate(-20px,20px);opacity: 0;}
    62%{transform: translate(-20px,20px);opacity: 0.3;}
    63%{transform: translate(-20px,20px);opacity: 0;}
    65%{transform: translateX(-10px);opacity: 0;}
    70%{transform: translateX(-10px);opacity: 0.3;}
    78%{transform: translateX(-10px);opacity: 0;}
    80%{transform: translateX(10px);opacity: 0;}
    82%{transform: translateX(10px);opacity: 0.3;}
    85%{transform: translateX(10px);opacity: 0;}
    90%{transform: translateX(-10px);opacity: 0;}
    95%{transform: translateX(-10px);opacity: 0.3;}
    98%{transform: translateX(-10px);opacity: 0;}
    to{transform: translateX(0);}
}
@keyframes zig1{
    0%{transform: translate(10px,20px);opacity: 0;}
    1%{transform: translate(10px,20px);opacity: 0.3;}
    9%{transform: translate(10px,20px);opacity: 0;}
    10%{transform: translateX(-10px);opacity: 0;}
    13%{transform: translateX(-10px);opacity: 0.3;}
    15%{transform: translateX(-10px);opacity: 0;}
    19%{transform: translate(20px,10px);opacity: 0;}
    20%{transform: translate(20px,10px);opacity: 0.3;}
    29%{transform: translate(20px,10px);opacity: 0;}
    30%{transform: translateX(10px);opacity: 0;}
    31%{transform: translate(-20px,20px);opacity: 0;}
    31%{transform: translate(-20px,20px);opacity: 0.3;}
    32%{transform: translate(-20px,20px);opacity: 0;}
    30%{transform: translateX(10px);opacity: 0;}
    30%{transform: translateX(10px);opacity: 0;}
    40%{transform: translateX(10px);opacity: 0.3;}
    41%{transform: translateX(10px);opacity: 0;}
    42%{transform: translate(-10px,-10px);opacity: 0;}
    43%{transform: translate(-10px,-10px);opacity: 0.3;}
    48%{transform: translate(-10px,-10px);opacity: 0;}
    50%{transform: translateX(-10px);opacity: 0;}
    60%{transform: translateX(-10px);opacity: 0.3;}
    70%{transform: translateX(10px);opacity: 0;}
    80%{transform: translateX(10px);opacity: 0.3;}
    81%{transform: translateX(10px);opacity: 0;}
    to{transform: translateX(0);}
}

#main .con_1 .video_wrap video{
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}

#main .con_2{
    position: relative;
    background: white;
    margin-top: 100vh;
    display: flex;
    justify-content: left;
    align-items: center;
}
#main .con_2 .img_wrap {
    width:684px;
    height:843px;
    margin: 35px 0 40px 90px;
}
#main .con_2 .img_wrap p{
    width:100%;
    height:0;
    overflow:hidden;
    transition:all 0.5s;
}
#main .con_2 .img_wrap.on p{
    height:100%;
}

#main .con_2  .text_wrap .text_wrap_1 {
    display: inline-block;
    width: 384px;
    height: 72px;
    font-size: 25px;
    font-weight: 900;
    color: #818181;
    transform: translate(-20%,-90%);
}
#main .con_2  .text_wrap .text_wrap_1 .text_e{
    width: 0px;
    height: 100%;
    overflow: hidden;
    transition:all 0.5s;
}
#main .con_2  .text_wrap .text_wrap_1 .text_e.on{
    width: 384px;
}
#main .con_2  .text_wrap .text_wrap_2{
    width: 0px;
    height: 46px;
    margin-left: 20px;
    overflow: hidden;
    transition: all 0.5s;
}
#main .con_2  .text_wrap .text_wrap_2.on{
    width: 364px;
}
#main .con_2 .img_wrap .text_wrap .text_wrap_1 p {
    margin-bottom: 5px;
}
#main .con_3 {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    background: white;
}
#main .con_3  .img_wrap{
    position: relative;
    width: 915px;
    height: 476px;
    margin-right: 50px;
    margin-bottom: 70px;
}
#main .con_3  .img_wrap>p:first-child{
    width: 0px;
    height: 100%;
    overflow: hidden;
    transition: all 0.5s;
}
#main .con_3  .img_wrap>p:first-child.on{
    width: 100%;
}

#main .con_3  .img_wrap .img_text{
    width: 412px;
    height: 0px;
    overflow: hidden;
    transition: all 0.3s;
    position: absolute;
    text-align: center;
    bottom: 70px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: 32px;
    font-weight: 800;
    text-shadow: 0 0 8px  black;
}

#main .con_3  .img_wrap .img_text.on{
    height: 91px;
}
#main .con_3 .text_wrap{
    margin: 0 auto;
}
#main .con_3 .text_wrap{
    text-align: center;
}
#main .con_3 .text_wrap .text_wrap_main{
    width: 376px;
    height: 0px;
    overflow: hidden;
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 160px;
    padding-top: 80px;
    transition: all 0.5s;
}
#main .con_3 .text_wrap .text_wrap_main.on{
    height: 211px;
}
#main .con_3 .text_wrap .text_wrap_main span{
    font-weight: 900;
    color: #AF0000;
}

#main .con_3 .text_wrap .text_wrap_link{
    width: 376px;
    height: 0px;
    overflow: hidden;
    transition: all 0.5s;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 5px;
}
#main .con_3 .text_wrap .text_wrap_link img{
    animation: up_down 2s infinite;
}
@keyframes up_down{
    0%{transform: translateY(0);}
    50%{transform: translateY(8px);}
    100%{transform: translateY(0px);}
}
#main .con_3 .text_wrap .text_wrap_link.on{
    height: 112px;
}
#main .con_3 .text_wrap .text_wrap_link p:nth-child(2){
    font-weight: 800;
    margin-bottom: 10px;
}
/* con_3 END */

#main .con_4{
    background: white;
    display: flex;
    justify-content: space-between;
}
#main .con_4 .img_wrap1{
    position: relative;
    margin: 230px 0  180px 40px;
}
#main .con_4 .img_wrap1 .img_elipse{
    position: absolute;
    top: -15%;
    right: -25%;
    animation: spin 17s linear infinite;
}
@keyframes spin{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform:rotate(-360deg);
    }
}
#main .con_4 .img_wrap1 .img_wrap_scroll{
    width: 657px;
    height: 997px;
}
#main .con_4 .img_wrap1 .img_wrap_scroll>p{
    width:0px;
    height: 100%;
    overflow: hidden;
    transition: all 0.5s;
}
#main .con_4 .img_wrap1 .img_wrap_scroll>p.on{
    width: 657px;
}


#main .con_4 .img_wrap1 .img_text{
    position: absolute;
    width: 700px;
    height: 0px;
    overflow: hidden;
    transition: all 0.5s;
    top: 55%;
    left: 50%;
    font-size: 42px;
    font-weight: 700;
    transform: translateX(30%);
}
#main .con_4 .img_wrap1 .img_text.on{
    height: 121px;
}
#main .con_4 .img_wrap1 .img_text p:nth-child(2){
    padding-left: 24px;
}

#main .con_4 .img_wrap2{
    width: 451px;
    height: 1387px;
    margin-right: 30px;
}
#main .con_4 .img_wrap2 p{
    width: 100%;
    height: 0px;
    overflow: hidden;
    transition: all 0.5s;
}
#main .con_4 .img_wrap2 p.on{
    height: 676px;
}


#main .con_band{
    background: white;
}
#main .con_band .img_wrap{
    overflow: hidden;
    padding-bottom: 200px;
}

#main .con_5{
    background: white;
}
#main .con_5 .img_wrap{
    position: relative;
    width: 667px;
    height: 1000px;
    margin-left: 90px;
    margin-bottom: 50px;
}
#main .con_5 .img_wrap>p{
    /* width: 100%; */
    width: 0%;
    height: 100%;
    overflow: hidden;
    transition: all 0.5s;
}
#main .con_5 .img_wrap>p.on{
    width: 100%;
}

#main .con_5 .img_wrap .logo_wrap{
    width: 97px;
    height: 0;
    /* height: 625px; */
    overflow: hidden;
    transition: all 0.5s;
    position: absolute;
    top: 30%;
    right: -100px;
}
#main .con_5 .img_wrap .logo_wrap.on{
    height: 625px;
}

#main .con_5 .text_wrap{
    height: 240px;
    font-size: 40px;
    margin-right: 200px;
    text-align:left;
    width:1100px;
    margin-left:auto;
}
#main .con_5 .text_wrap .text_scroll{
    width: 100%;
    height: 0;
    /* height: 240px; */
    overflow: hidden;
    transition: all 0.5s;
}
#main .con_5 .text_wrap .text_scroll.on{
    height: 240px;
}
#main .con_5 .text_wrap p{
    margin-bottom: 5px;
}
#main .con_5 .text_wrap p span{
    font-weight: bold;
}
#main .con_5 .text_wrap p:last-child{
    margin-bottom: 0;
    padding-bottom: 60px;
}
#main .con_6{
    background: white;
    display: flex;
    justify-content: space-between;
}
#main .con_6 .img_wrap1{
    position: relative;
    width: 493px;
    height: 739px;
    margin-left: 80px;
}
#main .con_6 .img_wrap1{
    width: 493px;
    height: 739px;
}
#main .con_6 .img_wrap1>p{
    width: 100%;
    height: 0%;
    overflow: hidden;
    transition: all 0.5s;
}
#main .con_6 .img_wrap1>p.on{
    height: 100%;
}

#main .con_6 .img_wrap1 .img_text{
    width: 461px;
    height: 108px;
    position: absolute;
    top: 20%;
    right: -70%;
    font-size: 37px;
    font-weight: 700;
    color: #034EED;
}
#main .con_6 .img_wrap1 .img_text .text_scroll{
    display: inline-block;
    width: 0px;
    height: 100%;
    overflow: hidden;
    transition: all 0.3s;
}
#main .con_6 .img_wrap1 .img_text .text_scroll.on{
    width: 100%;
}
#main .con_6 .img_wrap2{
    width: 713px;
    height: 870px;
    margin: 350px 40px 70px 0;
}
#main .con_6 .img_wrap2>p{
    /* width: 100%; */
    width: 0%;
    height: 100%;
    overflow: hidden;
    transition: all 0.5s;
}
#main .con_6 .img_wrap2>p.on{
    width: 100%;
}


#main .con_7{
    background: white;
    display: flex;
    align-items: center;
}
#main .con_7 .img_wrap{
    width: 542px;
    height: 813px;
    margin-left: 200px;
    margin-bottom: 270px;
}
#main .con_7 .img_wrap>p{
    width: 0%;
    height: 100%;
    overflow: hidden;
    transition: all  0.5s;
}
#main .con_7 .img_wrap>p.on{
    width: 100%;
}

#main .con_7  .text_wrap{
    width: 648px;
    height: 0px;
    overflow: hidden;
    transition: all 0.5s;
    font-size: 41px;
    text-align: center;
    font-weight: 700;
    /* transform: translateX(-200px); */
}
#main .con_7  .text_wrap.on{
    height: 242px;
}
#main .con_7 .text_wrap .text_scroll{
    margin-bottom: 70px;
}
#main .con_7  .text_wrap .text_link{
    font-size: 20px;
    font-weight: 500;
}
#main .con_7  .text_wrap .text_link img{
    animation: up_down 2s infinite;
}
#main .con_7 .text_wrap .text_link p{
    margin-bottom: 5px;
}
#main .con_7 .text_wrap .text_link p:nth-child(2){
    font-weight: 700;
}
#main .con_8{
    width: 100%;
    background: white;
    padding-bottom: 100px;
}
#main .con_8 .img_wrap{
    width: 100%;
    height: 200px;
    background: url("../img/hdex_band.png")  center center no-repeat fixed;
    background-size: cover;
}
#main .con_8 .img_wrap .text_wrap{
    display: flex;
    width: 1200px;
    margin:  0 auto;
    padding-top: 20px;
    align-items: center;
}

#main .con_8 .img_wrap .text_sub{
    text-align: right;
    color: white;
    font-weight: 600;
}
#main .con_8 .img_wrap .text_sub p:nth-child(1){
    font-size: 35px;
    font-weight: 700;
    text-transform: uppercase;
}
#main .con_8 .img_wrap .text_sub p:nth-child(2){
    font-size: 16px;
}
#main .con_8 .img_wrap .text_sub p:nth-child(3){
    font-size: 16px;
}
#main .con_8 .img_wrap .text_sub p:nth-child(4){
    font-size: 20px;
}
#main .con_8 .img_wrap .text_sub p:nth-child(4) a img{
    animation: move_right 2s infinite;
}
@keyframes move_right{
    0%{transform: translate(5px,8px);}
    50%{transform: translate(15px,8px);}
    100%{transform: translate(5px,8px);}
}
#main .con_8 .img_wrap .text_main{
    color: white;
    font-size: 87px;
    font-weight: 700;
    text-transform: uppercase;
    margin-left: 100px;
    margin-top: 32px;
}
#main .con_9{
    text-align: center;
    background: white;
    padding-bottom: 30px;
}
#main .con_10{
    background: white;
}
#main .con_10 .con_box{
    width: 1250px;
    margin: 0 auto;
}
#main .con_10 .con_list{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: center;
    font-size: 12px;
    padding-bottom: 80px;
}
#main .con_10 .con_list >li{
    margin-bottom: 25px;
}
/* ! 호버시 움직이는 효과 추가 */

#main .con_10 .con_list >li .img_wrap{
    margin-bottom: 18px;
    width:300px;
    height:453px;
    overflow:hidden;
}
#main .con_10 .con_list >li .img_wrap p{
    position: relative;
    left:0;
    top:0;
    transition:all 1s;
}
#main .con_10 .con_list >li .img_wrap:hover p {
    transition-delay:0.25s;
}
#main .con_10 .con_list >li .img_wrap img{
    transform: scale(1) translate(0,0);
    transition:all 1s;
}
#main .con_10 .con_list >li .img_wrap:hover img{
    transform: scale(1.5) translate(0,-25px);
}
#main .con_10 .con_list >li:nth-child(1) .img_wrap:hover p {
    top: 100px;
    transition-delay:0.25s;
}
#main .con_10 .con_list >li:nth-child(3) .img_wrap:hover p {
    top: 100px;
    transition-delay:0.25s;
}
#main .con_10 .con_list >li:nth-child(7) .img_wrap:hover p {
    left: -50px;
    transition-delay:0.25s;
}
#main .con_10 .con_list >li:nth-child(7) .img_wrap:hover img{
    transform: scale(1.5) translate(0,25px);
    left:-50px;
}
#main .con_10 .con_list >li h4{
    margin-bottom: 5px;
}
#main .con_10 .con_list >li p:nth-child(3){
    margin-bottom: 5px;
    text-decoration: line-through;
    color: #939393;
}
#main .con_10 .con_list >li p:nth-child(4){
    font-weight: 700;
}
#main .con_10 .con_list>li .color_box{
    display: flex;
    justify-content: center;
    margin-top: 15px;
}
#main .con_10 .con_list>li .color_box>li{
    cursor: pointer;
    margin-right: 7px;
    transform:scale(1);
    transition:all 0.2s;
}
#main .con_10 .con_list>li .color_box>li:last-child{
    margin-right: 0;
}
#main .con_10 .con_list>li .color_box>li.low{
    transform: scale(0.85);
}
#main .con_10 .con_list>li .color_box>li.up{
    transform: scale(1.2);
}
#main .gray_wrap{
    width: 100%;
    background-color: white;
    padding-bottom: 30px;
}
#main .gray_wrap .gray{
    background: #DEE2ED;
    height: 280px;
}
#main .gray_wrap .gray .con_wrap{
    display: flex;
    align-items: center;
    width: 940px;
    padding-top: 30px;
    margin: 0 auto;
}
#main .gray_wrap .gray .text_wrap{
    margin: 0 auto;
    font-size: 25px;
}

#main .gray_wrap .gray .text_wrap p:first-child{
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 5px;
}
#main .con_11{
    text-align: center;
    background: white;
    padding-bottom: 30px;
}
#main .con_12{
    background: white;
}
#main .con_12 .con_box{
    width: 1250px;
    margin: 0 auto;
}
#main .con_12 .con_list{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: center;
    font-size: 12px;
    padding-bottom: 80px;
}
#main .con_12 .con_list >li .img_wrap{
    margin-bottom: 18px;
    width:300px;
    height:450px;
    overflow:hidden;
}
#main .con_12 .con_list >li .img_wrap p{
    position: relative;
    left:0;
    top:0;
    transition:all 1s;
}
#main .con_12 .con_list >li:nth-child(1) .img_wrap:hover p {
    top: 105px;
    transition-delay:0.25s;
}
#main .con_12 .con_list >li:nth-child(3) .img_wrap:hover p {
    top: -50px;
    left: -50px;
    transition-delay:0.25s;
}
#main .con_12 .con_list >li:nth-child(4) .img_wrap:hover p {
    left: -75px;
    transition-delay:0.25s;
}
#main .con_12 .con_list >li:nth-child(7) .img_wrap:hover p {
   top: 80px;
    transition-delay:0.25s;
}
#main .con_12 .con_list >li:nth-child(8) .img_wrap:hover p {
   top: 50px;
    transition-delay:0.25s;
}
#main .con_12 .con_list >li .img_wrap img{
    transform: scale(1) translate(0,0);
    transition:all 1s;
}
#main .con_12 .con_list >li .img_wrap:hover img{
    transform: scale(1.5) translate(0,-25px);
}
#main .con_12 .con_list >li{
    margin-bottom: 25px;
}
#main .con_12 .con_list >li .img_wrap{
    margin-bottom: 18px;
}
#main .con_12 .con_list >li h4{
    margin-bottom: 5px;
}
#main .con_12 .con_list >li p:nth-child(3){
    margin-bottom: 5px;
    text-decoration: line-through;
    color: #939393;
}
#main .con_12 .con_list >li p:nth-child(4){
    font-weight: 700;
}
#main .con_12 .con_list>li .color_box{
    display: flex;
    justify-content: center;
    margin-top: 15px;
}
#main .con_12 .con_list>li .color_box>li{
    cursor: pointer;
    margin-right: 7px;
    transform:scale(1);
    transition:all 0.2s;
}
#main .con_12 .con_list>li .color_box>li:last-child{
    margin-right: 0;
}
#main .con_12 .con_list>li .color_box>li.low{
    transform: scale(0.85);
}
#main .con_12 .con_list>li .color_box>li.up{
    transform: scale(1.2);
}
/* main END */
#footer{
    background: black;
    color: #B5B5B5;
    font-size: 13px;
}
#footer .footer_wrap{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    margin:  0 100px;
}
#footer .footer_wrap .text_sub{
    width: 30vw;
    display: flex;
    justify-content: space-between;
}
#footer .footer_wrap .text_left p{
    margin-bottom: 5px;
}
#footer .footer_wrap .text_left p:nth-child(4){
    margin-bottom: 40px;
}
#footer .footer_wrap .text_left p{
    margin-bottom: 5px;
}
#footer .footer_wrap .text_left p:last-child{
    margin-bottom: 100px;
}
#footer .footer_wrap .text_center p:nth-child(2),
#footer .footer_wrap .text_center p:nth-child(3){
    font-size: 20px;
    font-weight: 600;
}
#footer .footer_wrap .text_center p:nth-child(3){
    margin-bottom: 10px;
}
#footer .footer_wrap .text_center p:nth-child(6){
    margin-bottom: 15px;
}
#footer .footer_wrap .text_center p:nth-child(7){
    color: white;
}
#footer .footer_wrap .text_right p{
    margin-bottom: 10px;
    color: white;
}
@media ( max-width: 1420px ){
    #main .con_6 .img_wrap1{
        margin: 0 auto 50px;
    }
    #main .con_6 .img_wrap2{
        margin: 0 auto;
        padding-bottom: 50px;
    }
    #main .con_7 {
        display: block;
    }
    #main .con_7 .img_wrap{
        margin: 0 auto 50px;
    }
    #main .con_7 .text_wrap{
        margin: 0 auto ;
    }
    #main .con_7 .text_wrap .text_link{
        transform: translateY(-30px);
    }

}
@media ( max-width: 1310px ){
    #main .con_3{
        display: block;
    }
    #main .con_3 .text_wrap {
        width: 380px;
    }
    #main .con_3 .text_wrap .text_wrap_main {
        margin-bottom: 50px;
    }
    #main .con_3 .text_wrap .text_wrap_link{
        margin-bottom: 0;
        padding-bottom: 10px;
    }
    #main .con_3 .img_wrap{
        margin: 0 auto;
    }
    #main .con_4 .img_wrap1 .img_text{
        left: 0%;
    }
    #main .con_5 .text_wrap{
        width: 1022px;
        margin: 0 auto;
    }
    #main .con_6{
        display: block;
    }
}
@media ( max-width: 1270px ){
    #main .con_10 .con_box{
        width: 1050px;
    }
    #main .con_12 .con_box{
        width: 1050px;
    }
}
@media ( max-width: 1220px ){
    #main .con_2{
        display: block;
    }
    #main .con_2 .img_wrap{
        margin: 0 auto;
        padding-top: 50px;
    }
    #main .con_2 .text_wrap{
        width: 370px;
        margin: 0 auto;
        transform: translateY(-300%);
    }
    #main .con_3 {
        padding-bottom: 50px;
    }
    #main .con_4{
        display: block;
    }
    #main .con_4 .img_wrap1{
        width: 780px;
        margin: 0 auto;
    }
    #main .con_4 .img_wrap2{
        display: none;
    }
    #main .con_4 .img_wrap1 .img_elipse {
        right: 0;
    }
    #main .con_6 .img_wrap1 .img_text {
        top: 50%;
        right:-50%;
    }

    #main .con_8 .img_wrap .text_wrap {
        width: 900px;
    }
    #main .con_8 .img_wrap .text_sub p:nth-child(1) {
        font-size: 27px;
    }
    #main .con_8 .img_wrap .text_main{
        font-size: 58px;
    }
    #footer .footer_wrap{
        display: block;
        text-align: center;
        word-break: keep-all;
    }
    #footer .footer_wrap .text_sub{
        margin: 0 auto;
        padding-bottom: 30px;
    }
}
@media ( max-width: 1080px){
    #main .con_1 .logo_wrap, #main .con_1 .logo_wrap3, #main .con_1 .logo_wrap5, #main .con_1 .logo_wrap7, #main .con_1 .logo_wrap9{
        left: 28%;
    }
    #main .con_1 .logo_wrap2, #main .con_1 .logo_wrap4, #main .con_1 .logo_wrap6, #main .con_1 .logo_wrap8, #main .con_1 .logo_wrap10{
        left: 28%;
    }
    #main .con_4 .img_wrap1 .img_text{
        left: -10%;
        font-size: 30px;
    }
    #main .con_10 .con_box{
        width: 670px;
    }
    #main .con_12 .con_box{
        width: 670px;
    }
    #main .con_5 .text_wrap {
        font-size: 30px;
        width: 777px;
    }
}
@media ( max-width: 1050px){
    #main .con_4 .img_wrap1 .img_elipse {
        top: 1%;
        right: 18%;
    }
    #main .con_6 .img_wrap1 .img_text {
        top: 64%;
        left: 3%;
    }
}
@media (max-width: 960px){
    #main .con_3 .img_wrap{
        width: 98vw;
    }
    #main .con_3 .img_wrap img{
        width: 100%;
        height: auto;
    }
    #main .gray_wrap .gray .con_wrap{
        display: block;
        margin: 0 auto;
    }
    #main .gray_wrap .gray {
        height: 420px;
    }
    #main .gray_wrap .gray .con_wrap .img_wrap{
        text-align: center;
        margin-bottom: 20px;
    }
    #main .gray_wrap .gray .con_wrap .text_wrap{
        text-align: center;
    }
    #main .gray_wrap .gray .con_wrap{
        width: 765px;
        margin: 0 auto;
    }
}

@media (max-width: 920px){
    #header nav .gnb>li:nth-child(2),
    #header nav .gnb>li:nth-child(3),
    #header nav .gnb>li:nth-child(4){
        display: none;
    }
    #header nav .gnb>li .hamburger{
        display: block;
    }
}
/* 1420px 에서 요소 부딪칠때 해결 */
/* */






















