*{margin: 0; padding: 0; border:0; box-sizing: border-box;}
ol,ul,dl{list-style: none;}
a{text-decoration: none; color: inherit;}
/* font */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,700;0,900;1,400&family=Noto+Sans+KR:wght@400;700;900&display=swap');
/* font-family: 'Montserrat', sans-serif; */
/* font-family: 'Noto Sans KR', sans-serif; */

.font_e{font-family: 'Montserrat', sans-serif;}
.font_k{font-family: 'Noto Sans KR', sans-serif;}
 
#main .con_1 .video_wrap video{
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
#main .con_2{
    position: relative;
    margin-top: 100vh;
    background: white;
}


















