@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;800;900&family=Noto+Sans+KR:wght@400;500;700;900&display=swap');
*{margin: 0; padding: 0; border:0; box-sizing: border-box;}
ol,ul,dl{list-style: none;}
a{text-decoration: none; color: inherit;}
/* font */
/* font-family: 'Montserrat', sans-serif; */
/* font-family: 'Noto Sans KR', sans-serif; */

/* 폰트 모듈 */
.font_e{font-family: 'Montserrat', sans-serif;}
.font_k{font-family: 'Noto Sans KR', sans-serif;}
span{font-family: "Noto Sans KR",sans-serif;}
body{font-family: 'Montserrat', sans-serif;}

.white{color:white;}
.underline{text-decoration: underline;}

.scroll_box{
    position: fixed;
    top: 30px;
    left: 30px;
    font-size: 30px;
    font-weight: 700;
    z-index: 1001;
}
#header{
    position: fixed;
    width: 100%;
    top: 30px;
    z-index: 100;
    color: white;
    text-transform: uppercase;
    font-size: 25px;
    font-weight: 600;
    margin: 0 20px;
}
#header nav .gnb{
    display: flex;
    justify-content: space-around;
    align-items: center ;
}
#header nav .gnb>li:nth-child(2)::after,
#header nav .gnb>li:nth-child(3)::after,
#header nav .gnb>li:nth-child(4)::after {
    display:block;
    content: '';
    border-bottom: solid 3px white;  
    transform: scaleX(0);  
    transition: transform 250ms ease-in-out;
  }
  #header nav .gnb>li:nth-child(2):hover:after,
  #header nav .gnb>li:nth-child(3):hover:after,
  #header nav .gnb>li:nth-child(4):hover:after
   { transform: scaleX(1); }

/* header END */
#main .con_1{
    position: relative;
}
/* 로고 윗부분 위치잡기 */
#main .con_1 .logo_wrap,
#main .con_1 .logo_wrap3,
#main .con_1 .logo_wrap5,
#main .con_1 .logo_wrap7,
#main .con_1 .logo_wrap9{
    position: absolute;
    top:-55vh;
    left: 35%;
}
#main .con_1 .logo_wrap2,
#main .con_1 .logo_wrap4,
#main .con_1 .logo_wrap6,
#main .con_1 .logo_wrap8,
#main .con_1 .logo_wrap10{
    position: absolute;
    top:-50vh;
    left: 35%;
}
#main .con_1 .logo_wrap3{
    animation: blur 4s linear forwards;
}
#main .con_1 .logo_wrap4{
    animation: blur 4s linear forwards;
}
#main .con_1 .logo_wrap5{
    animation: blur 4s linear forwards;
}
#main .con_1 .logo_wrap6{
    animation: blur 4s linear forwards;
}
#main .con_1 .logo_wrap7{
    animation: zig 2s ease-in infinite;
}
#main .con_1 .logo_wrap8{
    animation: zig1 2s ease-in infinite;
}
#main .con_1 .logo_wrap9{
    animation: zig1 2s ease-in infinite;
}
#main .con_1 .logo_wrap10{
    animation: zig 2s ease-in infinite;
}
@keyframes blur{
    0%{
        filter: blur(10px);
        opacity: 0;
    }
    100%{
        filter: blur(10px);
        opacity: 1;
    }
}
@keyframes zig{
    0%{transform: translate(-10px,-20px);opacity: 0;}
    1%{transform: translate(-10px,-20px);opacity: 0.3;}
    2%{transform: translate(-10px,-20px);opacity: 0;}
    10%{transform: translateX(10px);opacity: 0;}
    12%{transform: translate(10px,10px);opacity: 0;}
    13%{transform: translate(10px,10px);opacity: 0.3;}
    14%{transform: translate(10px,10px);opacity: 0;}
    20%{transform: translate(-10px,10px);opacity: 0;}
    21%{transform: translate(-10px,10px);opacity: 0.3;}
    22%{transform: translate(-10px,10px);opacity: 0;}
    35%{transform: translateX(-10px);opacity: 0;}
    40%{transform: translateX(-10px);opacity: 0.3;}
    41%{transform: translateX(-10px);opacity: 0;}
    42%{transform: translate(10px,10px);opacity: 0;}
    43%{transform: translate(10px,10px);opacity: 0.3;}
    49%{transform: translate(10px,10px);opacity: 0;}
    50%{transform: translateX(10px);opacity: 0;}
    55%{transform: translateX(10px);opacity: 0.3;}
    60%{transform: translateX(10px);opacity: 0;}
    61%{transform: translate(-20px,20px);opacity: 0;}
    62%{transform: translate(-20px,20px);opacity: 0.3;}
    63%{transform: translate(-20px,20px);opacity: 0;}
    65%{transform: translateX(-10px);opacity: 0;}
    70%{transform: translateX(-10px);opacity: 0.3;}
    78%{transform: translateX(-10px);opacity: 0;}
    80%{transform: translateX(10px);opacity: 0;}
    82%{transform: translateX(10px);opacity: 0.3;}
    85%{transform: translateX(10px);opacity: 0;}
    90%{transform: translateX(-10px);opacity: 0;}
    95%{transform: translateX(-10px);opacity: 0.3;}
    98%{transform: translateX(-10px);opacity: 0;}
    to{transform: translateX(0);}
}
@keyframes zig1{
    0%{transform: translate(10px,20px);opacity: 0;}
    1%{transform: translate(10px,20px);opacity: 0.3;}
    9%{transform: translate(10px,20px);opacity: 0;}
    10%{transform: translateX(-10px);opacity: 0;}
    13%{transform: translateX(-10px);opacity: 0.3;}
    15%{transform: translateX(-10px);opacity: 0;}
    19%{transform: translate(20px,10px);opacity: 0;}
    20%{transform: translate(20px,10px);opacity: 0.3;}
    29%{transform: translate(20px,10px);opacity: 0;}
    30%{transform: translateX(10px);opacity: 0;}
    31%{transform: translate(-20px,20px);opacity: 0;}
    31%{transform: translate(-20px,20px);opacity: 0.3;}
    32%{transform: translate(-20px,20px);opacity: 0;}
    30%{transform: translateX(10px);opacity: 0;}
    30%{transform: translateX(10px);opacity: 0;}
    40%{transform: translateX(10px);opacity: 0.3;}
    41%{transform: translateX(10px);opacity: 0;}
    42%{transform: translate(-10px,-10px);opacity: 0;}
    43%{transform: translate(-10px,-10px);opacity: 0.3;}
    48%{transform: translate(-10px,-10px);opacity: 0;}
    50%{transform: translateX(-10px);opacity: 0;}
    60%{transform: translateX(-10px);opacity: 0.3;}
    70%{transform: translateX(10px);opacity: 0;}
    80%{transform: translateX(10px);opacity: 0.3;}
    81%{transform: translateX(10px);opacity: 0;}
    to{transform: translateX(0);}
}

#main .con_1 .video_wrap video{
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}

#main .con_2{
    position: relative;
    background: white;
    margin-top: 100vh;
    display: flex;
    justify-content: left;
    align-items: center;
}
#main .con_2 .img_wrap {
    width:684px;
    height:843px;
    margin: 35px 0 40px 90px;
}
#main .con_2 .img_wrap p{
    width:100%;
    height:0;
    overflow:hidden;
    transition:all 0.5s;
}
#main .con_2 .img_wrap.on p{
    height:100%;
}

#main .con_2  .text_wrap .text_wrap_1 {
    display: inline-block;
    width: 0px;
    height: 72px;
    overflow: hidden;
    font-size: 25px;
    font-weight: 900;
    color: #818181;
    transform: translate(-20%,-90%);
    transition:all 0.5s;
}
#main .con_2  .text_wrap .text_wrap_1.on{
    width: 384px;
}
#main .con_2  .text_wrap .text_wrap_2{
    margin-left: 20px;
}
#main .con_2 .img_wrap .text_wrap .text_wrap_1 p {
    margin-bottom: 5px;
}
#main .con_3 {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    background: white;
}
#main .con_3  .img_wrap{
    position: relative;
    width: 915px;
    height: 476px;
    margin-right: 50px;
    margin-bottom: 70px;
}
#main .con_3  .img_wrap .img_text{
    position: absolute;
    text-align: center;
    bottom: 70px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: 32px;
    font-weight: 800;
    text-shadow: 0 0 8px  black;
}
#main .con_3 .text_wrap{
    margin: 0 auto;
}
#main .con_3 .text_wrap{
    text-align: center;
}
#main .con_3 .text_wrap .text_wrap_main{
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 160px;
    padding-top: 80px;
}
#main .con_3 .text_wrap .text_wrap_main span{
    font-weight: 900;
    color: #AF0000;
}

#main .con_3 .text_wrap .text_wrap_link{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 5px;
}
#main .con_3 .text_wrap .text_wrap_link p:nth-child(2){
    font-weight: 800;
    margin-bottom: 10px;
}
/* con_3 END */

#main .con_4{
    background: white;
    display: flex;
    justify-content: space-between;
}
#main .con_4 .img_wrap1{
    position: relative;
    margin: 230px 0  180px 40px;
}
#main .con_4 .img_wrap1 .img_elipse{
    position: absolute;
    top: -15%;
    right: -25%;
    animation: spin 17s linear infinite;
}
@keyframes spin{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform:rotate(-360deg);
    }
}
#main .con_4 .img_wrap1 .img_text{
    position: absolute;
    width: 800px;
    top: 55%;
    left: 50%;
    font-size: 42px;
    font-weight: 700;
    transform: translateX(30%);
}
#main .con_4 .img_wrap1 .img_text p:nth-child(2){
    padding-left: 24px;
}

#main .con_4 .img_wrap2{
    margin-right: 30px;
}
#main .con_band{
    background: white;
}
#main .con_band .img_wrap{
    overflow: hidden;
    padding-bottom: 200px;
}

#main .con_5{
    background: white;
}
#main .con_5 .img_wrap{
    position: relative;
    width: 667px;
    height: 1000px;
    margin-left: 90px;
    margin-bottom: 50px;
}
#main .con_5 .img_wrap .logo_wrap{
    position: absolute;
    top: 30%;
    right: -100px;
}
#main .con_5 .text_wrap{
    font-size: 40px;
    margin-right: 200px;
    text-align:left;
    width:1100px;
    margin-left:auto;
}
#main .con_5 .text_wrap p{
    margin-bottom: 5px;
}
#main .con_5 .text_wrap p span{
    font-weight: bold;
}
#main .con_5 .text_wrap p:last-child{
    margin-bottom: 0;
    padding-bottom: 60px;
}
#main .con_6{
    background: white;
    display: flex;
    justify-content: space-between;
}
#main .con_6 .img_wrap1{
    position: relative;
    width: 493px;
    height: 739px;
    margin-left: 80px;
}
#main .con_6 .img_wrap1 .img_text{
    position: absolute;
    top: 20%;
    right: -70%;
    font-size: 37px;
    font-weight: 700;
    color: #034EED;
}
#main .con_6 .img_wrap2{
    margin: 350px 40px 70px 0;
}
#main .con_7{
    background: white;
    display: flex;
    align-items: center;
}
#main .con_7 .img_wrap{
    margin-left: 200px;
    margin-bottom: 270px;
}
#main .con_7  .text_wrap{
    font-size: 41px;
    text-align: center;
    font-weight: 700;
    
}
#main .con_7 .text_wrap >p{
    transform: translateX(-10%);
    margin-bottom: 70px;
}
#main .con_7  .text_wrap .text_link{
    font-size: 20px;
    font-weight: 500;
}
#main .con_7 .text_wrap .text_link p{
    margin-bottom: 5px;
}
#main .con_7 .text_wrap .text_link p:nth-child(2){
    font-weight: 700;
}
#main .con_8{
    width: 100%;
    background: white;
    padding-bottom: 100px;
}
#main .con_8 .img_wrap{
    width: 100%;
    height: 200px;
    background: url("../img/hdex_band.png")  center center no-repeat fixed;
    background-size: cover;
}
#main .con_8 .img_wrap .text_wrap{
    display: flex;
    width: 1200px;
    margin:  0 auto;
    padding-top: 20px;
    align-items: center;
}

#main .con_8 .img_wrap .text_sub{
    text-align: right;
    color: white;
    font-weight: 600;
}
#main .con_8 .img_wrap .text_sub p:nth-child(1){
    font-size: 35px;
    font-weight: 700;
    text-transform: uppercase;
}
#main .con_8 .img_wrap .text_sub p:nth-child(2){
    font-size: 16px;
}
#main .con_8 .img_wrap .text_sub p:nth-child(3){
    font-size: 16px;
}
#main .con_8 .img_wrap .text_sub p:nth-child(4){
    font-size: 20px;
}
#main .con_8 .img_wrap .text_main{
    color: white;
    font-size: 87px;
    font-weight: 700;
    text-transform: uppercase;
    margin-left: 100px;
    margin-top: 32px;
}
#main .con_9{
    text-align: center;
    background: white;
    padding-bottom: 30px;
}
#main .con_10{
    background: white;
}
#main .con_10 .con_box{
    width: 1250px;
    margin: 0 auto;
}
#main .con_10 .con_list{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: center;
    font-size: 12px;
    padding-bottom: 80px;
}
#main .con_10 .con_list >li{
    margin-bottom: 25px;
}








/* ! 호버시 움직이는 효과 추가 */

#main .con_10 .con_list >li .img_wrap{
    margin-bottom: 18px;
    width:300px;
    height:453px;
    overflow:hidden;
}
#main .con_10 .con_list >li .img_wrap p{
    position: relative;
    left:0;
    top:0;
    transition:all 1s;

}
#main .con_10 .con_list >li .img_wrap:hover p {
    left:50px;
    transition-delay:0.25s;
}
#main .con_10 .con_list >li .img_wrap img{
    transform: scale(1) translate(0,0);
    transition:all 1s;
}
#main .con_10 .con_list >li .img_wrap:hover img{
    transform: scale(1.5) translate(0,-25px);
    left:50px;
}















#main .con_10 .con_list >li h4{
    margin-bottom: 5px;
}
#main .con_10 .con_list >li p:nth-child(3){
    margin-bottom: 5px;
    text-decoration: line-through;
    color: #939393;
}
#main .con_10 .con_list >li p:nth-child(4){
    font-weight: 700;
}
#main .con_10 .con_list>li .color_box{
    display: flex;
    justify-content: center;
    margin-top: 15px;
}
#main .con_10 .con_list>li .color_box>li{
    margin-right: 7px;
    transform:scale(1);
    transition:all 0.2s;
}
#main .con_10 .con_list>li .color_box>li:last-child{
    margin-right: 0;
}
#main .con_10 .con_list>li .color_box>li.low{
    transform: scale(0.85);
}
#main .con_10 .con_list>li .color_box>li.up{
    transform: scale(1.2);
}




#main .gray_wrap{
    width: 100%;
    background-color: white;
    padding-bottom: 30px;
}
#main .gray_wrap .gray{
    background: #DEE2ED;
    height: 280px;
}
#main .gray_wrap .gray .con_wrap{
    display: flex;
    align-items: center;
    width: 940px;
    padding-top: 30px;
    margin: 0 auto;
}
#main .gray_wrap .gray .text_wrap{
    margin: 0 auto;
    font-size: 25px;
}

#main .gray_wrap .gray .text_wrap p:first-child{
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 5px;
}
#main .con_11{
    text-align: center;
    background: white;
    padding-bottom: 30px;
}
#main .con_12{
    background: white;
}
#main .con_12 .con_box{
    width: 1250px;
    margin: 0 auto;
}
#main .con_12 .con_list{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: center;
    font-size: 12px;
    padding-bottom: 80px;
}
#main .con_12 .con_list >li{
    margin-bottom: 25px;
}
#main .con_12 .con_list >li .img_wrap{
    margin-bottom: 18px;
}
#main .con_12 .con_list >li h4{
    margin-bottom: 5px;
}
#main .con_12 .con_list >li p:nth-child(3){
    margin-bottom: 5px;
    text-decoration: line-through;
    color: #939393;
}
#main .con_12 .con_list >li p:nth-child(4){
    font-weight: 700;
}
#main .con_12 .con_list>li .color_box{
    display: flex;
    justify-content: center;
    margin-top: 15px;
}
#main .con_12 .con_list>li .color_box>li{
    margin-right: 7px;
}
#main .con_12 .con_list>li .color_box>li:last-child{
    margin-right: 0;
}

#footer{
    background: black;
    color: #B5B5B5;
    font-size: 13px;
}
#footer .footer_wrap{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    margin:  0 100px;
}
#footer .footer_wrap .text_left p{
    margin-bottom: 5px;
}
#footer .footer_wrap .text_left p:nth-child(4){
    margin-bottom: 40px;
}
#footer .footer_wrap .text_left p{
    margin-bottom: 5px;
}
#footer .footer_wrap .text_left p:last-child{
    margin-bottom: 100px;
}
#footer .footer_wrap .text_center p:nth-child(2),
#footer .footer_wrap .text_center p:nth-child(3){
    font-size: 20px;
    font-weight: 600;
}
#footer .footer_wrap .text_center p:nth-child(3){
    margin-bottom: 10px;
}
#footer .footer_wrap .text_center p:nth-child(6){
    margin-bottom: 15px;
}
#footer .footer_wrap .text_center p:nth-child(7){
    color: white;
}
#footer .footer_wrap .text_right p{
    margin-bottom: 10px;
    color: white;
}























