*{margin: 0;padding: 0;box-sizing: border-box;}
ol,ul,dl{list-style: none;}
a{text-decoration: none; color: inherit;}

body{
    font-family: 'Yanone Kaffeesatz', sans-serif;
    background: url(../img/smoke_portfolio.jpg)no-repeat;
    object-fit: cover;
    background-attachment: fixed;
}

/* anchor module */
.move_first{
    position: absolute;
    bottom: 30px;
    right: 100px;
    padding: 20px 30px;
    color: black;
    font-size: 40px;
    border: 2px solid black;
    border-radius: 80px;
    cursor: pointer;
}
.move_first:hover a .fa-arrow-up-long{
    animation: arrow_up 1.5s infinite;
}

/*  scroll down module */
.scroll_down {
    position: absolute;
    left: 50%;
    bottom: 50px;
    transform: translateX(-50%);
    font-family:sans-serif;
    color: white;
    font-weight: 300;
    font-size: 30px;
}

.scroll_down .fa-arrow-down{
    width:150px;
    text-align: center;
    animation:arrow 1.5s infinite ease-in-out;
}

@keyframes arrow_up{
    0%{
        transform: translateY(0);
    }
    50%{transform: translateY(-15px);
    }
    100%{transform: translateY(0px);
    }
}

@keyframes arrow{
    0%{
        transform: translateY(0);
    }
    50%{
        transform:translateY(20px);
    }
    100%{
        transform:translateY(0px);
    }
}

/*  scroll_down color */
.dark{
    color:black;
    border-color: black;
}
.white{
    color: white;
    border-color: white ;
}
.gucci{
    color: #D2C8AB;
    border-color: #D2C8AB;
}
/* ! header */
#header{
    width:100%;
    position: fixed;  left: 0; right:0;top: -100px;
    margin-top: 30px;
    z-index: 99;
    opacity: 0;
    transition:all 0.5s;
}

#header.on{
    top: 0;
    opacity: 1;
}
#header.on.gucci nav .gnb >li:last-child{
    border: 2px solid #D2C8AB;
}
#header.on.white nav .gnb >li:last-child{
    border: 2px solid white;
}
#header li.white_logo,
#header li.gucci_color{
    display: none;
}
#header nav .gnb{
    position: relative;
    display: flex;  
    justify-content: space-around;
    font-size: 30px;
}

#header nav .gnb>li {
    height:64px;
    line-height: 64px;
    cursor: pointer;
    position: relative;
    transition: transform 0.5s;
}

#header nav .gnb > li:last-child{
    padding: 5px 70px;
    border: 2px solid black; border-radius: 40px;
    font-size: 50px;
    line-height: 50px;
}

#header nav .gnb > li:hover{
    transform: scale(1.2);
}


#header nav .gnb >li .sub{
    width:100px;
    height:0px;
    overflow:hidden;
    position: absolute; top: 50px; left:50%; transform:translateX(-50%);
    text-align: center;
    font-size: 18px;
    transition:all 0.75s;
}


#header nav .gnb >li:hover .sub{
    height:150px;
}

#header nav .gnb >li .sub >li{
    margin: 10px;
    line-height: 20px;
}
/* ! header END */


/* ! first_page */
#full_page .first_page .adidas_logo{
    position: absolute; 
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
}

#full_page .first_page .adidas_text {
    position: absolute;
    left: 50%;
    top: 250px;
    transform: translateX(-50%);
    animation: opacity 3s;
}

#full_page .first_page .adidas_biglogo img{
    animation: opacity 3s;
}

@keyframes opacity {
    from {
        opacity: 0;
    }

    to{
        opacity:1;
    }
}
/* ! first_page END */



#full_page .second_page{
    position: relative;
}
#full_page .second_page .copy{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
#full_page .second_page .copy .i{
    height: 140px;
    margin-bottom:2px ;
}
#full_page .second_page .copy .m{
    height: 140px;
    width: 100px;
    margin: 0 4px 2px;
}
#full_page .second_page .copy .m_logo{
    display: none;
    margin-right: 15px;
    margin-bottom: 2px;
    width: 180px; 
    height: 138px;
}
/* ! second_page END */

/*  재생,멈춤 버튼 */

.slide_btn{
    position:relative;
}

.slide_btn > div{
    position:absolute;
    left:0;
    top:0;
    z-index: 0;
    transition: 0.5s;
}
.slide_btn > div:first-child{
    opacity: 0;
    z-index: 0;
}
.slide_btn > div:last-child{
    opacity: 1;
    z-index: 1;
}
.slide_btn.stop > div:first-child{
    opacity: 1;
    z-index: 1;
}
.slide_btn.stop > div:last-child{
    opacity: 0;
    z-index: 0;
}



#full_page .third_page {
    position: relative;
    background: white;
}

#full_page .third_page .yeezy{
    position: absolute;
    top: 200px;
    left: 150px;
}

#full_page .third_page .boost{
    position: absolute;
    top: 330px;
    left: 150px;
}
#full_page .third_page .wrap {
    position: relative;
    width: 700px;
    margin: 20px auto 0px;
    border: 0px solid transparent;
    border-radius: 80px;
    overflow: hidden;
}

#full_page .control_box {
    position: absolute;
    bottom: 120px;
    left: 300px;
    width: 200px;
    display: flex;
    justify-content: space-around;
    font-size: 40px;
    cursor: pointer;
}

#full_page .third_page .slider_nav{
    position: absolute;
    top: 50%;
    right: 5%;
    transform: translateY(-50%);
    width: 380px;
    font-size: 80px;
}
/* ! third_page END */

#full_page .fourth_page{
    background: black;
}

#full_page .fourth_page .adidas_original{
    margin-bottom:300px ;
    margin-left:300px ;
    transform:
    translateX(calc(var(--mouse-x) * 0.2px))
    translateY(calc(var(--mouse-y) * 0.5px));
}
#full_page .fourth_page .x_mark{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
#full_page .fourth_page .gucci_mark{
    margin-bottom: 50px;
    margin-left: 600px;
    transform:
    translateX(calc(var(--mouse-x) *-0.2px))
    translateY(calc(var(--mouse-y) * -0.5px));
}

/* ! fourth_page END */

#full_page .fifth_page {
    background: black;
}

#full_page .fifth_page .gucci_slider{
    position: absolute;
    top: 223px;
    left: 114px; 
    width: 500px;
    height: 570px;  
}

#full_page .fifth_page .right_arrow{
    position: absolute;
    top: 50%;
    right: 60%;
    cursor: pointer;
    font-size: 100px;
    color: #D2C8AB;
    opacity: 50%;
    transition: all 0.75s;
}

#full_page .fifth_page .left_arrow{
    position: absolute;
    top: 50%;
    left:2%;
    cursor: pointer;
    font-size: 100px;
    color: #D2C8AB;
    opacity: 50%;
    transition: all 0.75s;
}

#full_page .fifth_page .right_arrow:hover{
    opacity: 100;
}
#full_page .fifth_page .left_arrow:hover{
    opacity: 100;
}

#full_page .fifth_page .gucci_slider_nav{
    width: 800px;
    height: 450px;
    position: absolute;
    top: 55%;
    right: 8%;
    transform: translateY(-50%);
    text-align: center;
    font-size: 100px;
    color: #D2C8AB;
}
#full_page .fifth_page .gucci_slider_nav ul>li{
    margin-bottom: 20px;
}
#full_page .fifth_page .gucci_slider_nav ul > li:first-child {
    margin-bottom: 20px;
    text-transform: uppercase;
}

#full_page .fifth_page .gucci_slider_nav ul > li:nth-child(2),
#full_page .fifth_page .gucci_slider_nav ul > li:nth-child(3){
    text-transform: capitalize;
    font-size: 70px;
}

#full_page .fifth_page .gucci_slider_nav ul > li:last-child{
    width: 205px;
    margin: 0 auto 20px;
    padding: 5px 20px;
    font-size: 60px;
    border: 2px solid #D2C8AB;
    border-radius: 40px;
}
#full_page .fifth_page .gucci_slider_nav ul > li:hover:last-child{
    color: white;
    border-color: white;
    transition: all 0.5s;
}

/* ! fifth_page END */

#full_page .sixth_page{
    background: black;
}
#full_page .sixth_page .contact_us{
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translateY(-50%);
    color: white;
}
#full_page .sixth_page .contact_us h3{
    font-size:80px ;
    margin-bottom: 20px;
}
#full_page .sixth_page .contact_us .contact_list{
    font-size: 23px;
}

#full_page .sixth_page .contact_us .contact_list>li{
    margin-bottom: 20px;
}
#full_page .sixth_page .contact_us .contact_list>li p:first-child{
    margin-bottom: 5px;
}
#full_page .sixth_page .contact_us .contact_list>li p:last-child{
    margin-bottom: 10px;
}
#full_page .sixth_page .contact_us .contact_list > li p i{
    padding: 5px;
}
#full_page .sixth_page .contact_us .contact_list>li::after{
    content: "";
    display: block;
    width: 584px;
    border-bottom: 1px solid white;
    opacity: 0.5;
}
#full_page .sixth_page .map{
    position: absolute;
    top: 50%;
    right: 10%;
    height: 470px;
    transform: translateY(-50%);
    font-size: 80px;
    color: white;
}
#full_page .sixth_page .map h3{
    margin-bottom: 20px;
}
#full_page .sixth_page .map .google_map {
    display: inline-block;
    position: relative;
}
#full_page .sixth_page .map .google_map::after {
    position: absolute;
    display: block;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 
      inset 0 0 20px black /* 배경과 같은 색 */,
      inset 0 0 20px black,
      inset 0 0 20px black,
      inset 0 0 20px black,
      inset 0 0 20px black,
      inset 0 0 20px black,
      inset 0 0 20px black,
      inset 0 0 20px black;
}
/* ! sixth_page END */

#full_page #footer{
    background: black;
    color: white;
}
#full_page #footer address{
    margin: 20px;
}
#full_page #footer address strong{
    display: block;
    margin-bottom: 10px;
}
#full_page #footer address p{
    opacity: 0.7;
    display: inline-block;
    position: relative;
    margin-right: 10px;
    padding-right: 10px;
}
#full_page #footer address p::after{
    position: absolute;
    top: 5px;
    right: -4px;
    content: "|";
    height: 21px;
    display: block;
    float: right;
}
#full_page #footer address p:last-child::after{
    content: "";
}











